@{
    ViewData["title"] = "chi tiết tin tức";
    int NewsId = Convert.ToInt32(ViewData["NewsId"]);
}
@if (NewsId == 1)
{
    <div class="container">
        <div class="ms-3 my-3">
            <h1 class="text-uppercase text-center fs-4">Tinh dầu bưởi đa-zi-năng thế nào ?</h1>
            <img class="mx-md-auto my-3 d-block shadow-sm border border-3" style="width:50% " src="https://naturalshop-3979.web.app/content/img/news1.jpg" alt="news1">
            <p class="fw-bold">Nếu là người quan tâm đến sức khỏe và làm đẹp, hẳn bạn đã biết đến những lợi ích tuyệt vời của tinh dầu bưởi. Bạn thường biết đến tác dụng đuổi muỗi, khử mùi hay làm mượt tóc của tinh dầu bưởi nhưng thực chất tinh dầu thiên nhiên này còn hữu ích hơn rất nhiều.</p>
            <p>Trong vỏ và hoa bưởi chứa nhiều naringin, pectin, amylaza, men tiêu hoá peroxydaza, vitamin A và C, đường ramoza. Các chất này có tác dụng kháng khuẩn rất tốt. Tinh dầu từ vỏ bưởi từ lâu đã được Đông Y sử dụng kết hợp với các thành phần khác để giảm huyết áp, lợi tiểu, chống nhiễm trùng, khử mùi hay cũng có thể dùng tinh dầu cho da mặt để massage thư giãn. Đặc biệt là chất Limonene có trong tinh dầu bưởi được xem là có khả năng chống lại sự phát triển và tấn công của các khối u, tế bào ung thư, bảo vệ các DNA.</p>
            <p>Tác dụng đáng nói nhất của tinh dầu bưởi chính là việc ngăn rụng róc và kích thích mọc nhanh chóng. Tinh dầu vỏ bưởi chứa hàm lượng lớn pectin, naringin và dưỡng chất giúp nuôi tóc khỏe mạnh từ gốc lên ngọn, đồng thời sát khuẩn ngừa gầu cho da đầu. Đây là một liệu pháp chăm sóc tóc thiên nhiên vô cùng hiệu quả. Điều này đã được minh chứng từ xa xưa, khi các bà, các mẹ vẫn thường phơi khô vỏ bưởi và nấu nước cùng bồ kết hay hương nhu để gội đầu. Lượng tinh dầu từ vỏ bưởi tiết ra chứa hàm lượng lớn pectin và naringin giúp nuôi dưỡng nang tóc khỏe mạnh, đồng thời sát khuẩn và làm ngừa gầu, mái tóc vì thế sẽ luôn suôn mượt vào nếp tự nhiên.</p>
            <p>Trong tinh dầu bưởi chứa nhiều Vitamin C rất tốt trong việc chống lão hóa và bảo vệ làn da khỏi tác động xấu của tia UV. Tinh dầu bưởi còn có nhiều hoạt chất có tác dụng diệt khuẩn và chống lại sự xâm nhập tiếp theo của các vi khuẩn có hại gây ra mụn. Điều này giúp da trở nên sạch sẽ, an toàn hơn (điều quan trọng nhất đối với việc trị mụn). Hơn thế nữa, trong tinh dầu bưởi có nhiều vitamin A và C còn giúp trị thâm sau mụn rất tốt. </p>
        </div>
        <!-- EndBody -->
    </div>
}else if(NewsId == 2)
{
    <div class="container">
        <div class="ms-3 my-3">
            <h1 class="text-uppercase text-center fs-4">
                5 công dụng bất ngờ của tinh dầu hoa oải hương
            </h1>
            <img class="mx-md-auto my-3 d-block shadow-sm border border-3" style="width: 50%" src="https://naturalshop-3979.web.app/content/img/news1.jpg" alt="news1">
            <p class="fw-bold">
                Tinh dầu hoa Lavender được đánh giá là loại tinh dầu có hoạt tính cao,
                đem đến nhiều giá trị cho sức khỏe và làn da người sử dụng.
            </p>
            <p>
                Hương thơm thư thái, dễ chịu của tinh dầu Lavender nguyên chất sẽ tác
                động đến tuyến hạch nhân sâu trong não bộ của bạn và tạo tác dụng làm
                giảm trạng thái căng thẳng, stress, giúp tinh thần được thư giãn, bình
                tĩnh hơn.
            </p>
            <p>
                Nhờ khả năng giúp cơ thể thư giãn, thần kinh bớt căng thẳng và tinh
                thần được thoải mái nên tinh dầu hoa oải hương sẽ là sản phẩm khiến
                bạn đi vào giấc ngủ dễ dàng, nhanh chóng hơn rất nhiều.
            </p>
            <p>
                Các nhà nghiên cứu từ Trung Quốc gần đây đã phát hiện ra rằng hoa oải
                hương tinh dầu giúp cơ thể bạn sản xuất ba loại chất chống oxy hóa
                mạnh mẽ nhất, glutathione, catalase, và SOD chỉ trong vòng 22 giờ.
            </p>
            <p>
                Tinh dầu oải hương được sử dụng để điều trị tình trạng bồn chồn, mất
                ngủ, căng thẳng và trầm cảm. Hoa oải hương cũng được sử dụng cho một
                loạt các vấn đề tiêu hóa bao gồm trướng bụng (sưng do khí trong khoang
                ruột hoặc phúc mạc), mất cảm giác ngon miệng, nôn, buồn nôn, đầy hơi
                và rối loạn dạ dày.
            </p>
            <p>
                Một số người sử dụng tinh dầu này để giảm đau đớn bao gồm đau răng,
                bong gân, đau dây thần kinh, loét và đau khớp. Oải hương cũng được sử
                dụng điều trị mụn trứng cá cũng như để thúc đẩy kinh nguyệt.
            </p>
        </div>
        <!-- EndBody -->
    </div>
}
else if (NewsId == 3)
{
    <div class="container">
        <div class="ms-3 my-3">
            <h1 class="text-uppercase text-center fs-4">
                Lý do bạn nên sử dụng thành phần trà xanh chăm sóc sức khoẻ gia đình
            </h1>
            <img class="mx-md-auto my-3 d-block shadow-sm border border-3" style="width: 50%" src="https://naturalshop-3979.web.app/content/img/news2.jpg" alt="news1">
            <p class="fw-bold">
                Không chỉ được biết đến như là một loại nước uống thông thường, trà
                xanh còn được chứng minh là thần dược trong việc chăm sóc sức khỏe và
                sắc đẹp. Trà xanh từ lâu đã được xem như một loại thảo dược hỗ trợ
                điều trị chứng đau đầu, trầm cảm và giúp ngăn ngừa lão hóa.
            </p>
            <p>
                Trà xanh có chứa Polyphenol và vitamin C, các chất giúp cải thiện chức
                năng hoạt động của mạch máu. Sử dụng trà xanh giúp giảm mỡ máu và hạ
                huyết áp. Ngoài ra, trà xanh giúp chống lão hóa, tái tạo làn da trẻ
                đẹp. Trà xanh chứa nhiều chất chống oxy hóa, các loại enzyme cũng như
                các axit amin có lợi cho vóc dáng. Trà xanh cũng cung cấp các chất cơ
                thể cần như vitamin B, mangan, kali, magiê và caffeine. Các chất chống
                oxy hóa và làm se da trong trà xanh có tác dụng giúp bạn chữa mắt bị
                sưng bằng cách thu nhỏ các mạch máu ở vùng mắt nhạy cảm. Vitamin K có
                trong trà cũng giúp quầng thâm dưới mắt sáng hơn. Một nghiên cứu năm
                2012 trên tờ Journal of Investigative Dermatogory kết luận rằng chất
                EGCG trong trà xanh giúp điều trị mụn trứng cá bằng cách điều chỉnh
                phân tử nội bào và ức chế vi khuẩn gây mụn.
            </p>
            <p>
                Trà xanh có tác dụng hiệu quả trong việc gây ức chế một số vi khuẩn
                như Ecoli, hay virus. Đó là bởi trong trà xanh có chứa hợp chất
                Polyphenol, Xanthin. Khi kết hợp với Protein của virus, trà xanh sẽ
                làm giảm đi hoạt tính của nó. Trà xanh gây ức chế cũng như suy yếu đi
                hoạt động của vi khuẩn có hại. Nhờ vậy, sức khỏe và hệ miễn dịch của
                bạn sẽ được tăng lên đáng kể.
            </p>
            <p>
                Trà xanh còn có công dụng khử mùi rất tốt. Bởi Catechin có trong trà
                xanh là chất có tính chống oxy hóa mạnh, có thể chống lại các vi khuẩn
                gây ra mùi khó chịu. Bạn có thể dùng trà xanh để khử mùi tanh đồ ăn
                như hải sản, hay khử mùi quần áo, hoặc thậm chí cả mùi hôi miệng.
                Chính vì vậy, trà xanh được ứng dụng trong rất nhiều những sản phẩm
                tẩy rửa, chẳng hạn như nước súc miệng, nước rửa chén, nước lau sàn.
            </p>
        </div>
        <!-- EndBody -->
    </div>
}
