@model NautralShop.Models.Voucher
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chỉnh sửa voucher";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

    .container_form {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .header_EditCate p {
        color: #b66dff;
    }

    .container_bodyEdit {
        display: flex;
        justify-content: center;
    }
</style>
<div class="container_content">
    <div class="text-center header_EditCate"><p class="fw-bold fs-4">Sửa voucher</p></div>
    <hr />
    <div class="container_bodyEdit">
        <div class="col-md-4">
            <form asp-action="EditVoucher" asp-area="admin" asp-controller="vouchers">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="VoucherId" />
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Tên voucher</label>
                            <input asp-for="VoucherName" class="form-control" required />
                            <span asp-validation-for="VoucherName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Giá trị khuyến mãi</label>
                            <input asp-for="VoucherValue" class="form-control" required />
                            <span asp-validation-for="VoucherValue" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Số lượng voucher</label>
                            <input asp-for="VoucherQuantity" class="form-control" required />
                            <span asp-validation-for="VoucherQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Điểm để đổi</label>
                            <input asp-for="VoucherPoint" class="form-control" required />
                            <span asp-validation-for="VoucherPoint" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Ngày hết hạn</label>
                            <input asp-for="DateExpire" type="date" class="form-control" required />
                            <span asp-validation-for="DateExpire" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Lưu" class="btn btn-gradient-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="vouchers" asp-area="admin">Trở lại</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
