<div class="slider container mt-3">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="https://naturalshop-3979.web.app/content/img/slider3.png" class="d-block w-100" alt="slider image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bảo vệ sức khỏe</h5>
                    <p>Sản phẩm thiên nhiên không chỉ mang lại sức khỏe mà còn lan tỏa vẻ đẹp tự nhiên đến mọi người.</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="https://naturalshop-3979.web.app/content/img/slider1.jpg" class="d-block w-100" alt="slider image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Bảo vệ môi trường</h5>
                    <p>Các sản phẩm thiên nhiên không chỉ là lựa chọn thông minh cho sức khỏe mà còn góp phần bảo vệ môi trường.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://naturalshop-3979.web.app/content/img/slider2.jpg" class="d-block w-100" alt="slider image">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Mang lại cảm giác gần gũi với tự nhiên</h5>
                    <p>Tận hưởng sự gần gũi với tự nhiên qua từng sản phẩm, mang lại cảm giác an tâm và hài lòng.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>