<div class="aboutNaturalShop">
    <!-- Giới thiệu -->
    <div class="row my-3 container mx-auto">
        <div class="col-md-6">
            <h3 class="text-uppercase" style="color:var(--color-main)">giới thiệu</h3>
            <div class="progress mb-2" style="height: 1px;">
                <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%; background-color: var(--color-main)" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p><b>NATURAL SHOP - </b> Tư vấn và cung cấp sản phẩm xanh 100% thiên nhiên NATURAL SHOP cung cấp các dòng : Mỹ Phẩm cao cấp, Sản Phẩm Chăm Sóc Sức Khoẻ và Sản Phẩm Gia Dụng hàng ngày nguồn gốc thiên nhiên được ứng dụng từ công nghệ Cơ Lượng Tử , mang trọn vẹn những thành phần từ thiên nhiên, không sử dụng hoá chất trong việc bảo quản đến quy trình chiết xuất, sản xuất ra sản phẩm, giúp bảo vệ và chăm sóc gia đình bạn thật an toàn và chất lượng.</p>
            <p>Tiêu Dùng Xanh - Xu Hướng Xanh là lựa chọn hàng đầu của đông đảo người tiêu dùng thông minh hiện nay, do đó NATURAL SHOP luôn chú trọng đến chất lượng sản phẩm cũng như chất lượng phục vụ giúp người tiêu dùng thật sự yên tâm khi tiêu dùng sản phẩm từ NATURAL SHOP. <b>Hotline: <a class="text-decoration-none fw-bold text-black" href="tel:0349894655">034 989 4655</a></b></p>
        </div>
        <div class="col-md-6">
            <img style="width: 100%;" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fgioithieu.jpg?alt=media&token=1271dff4-08ce-4926-b4b8-0ba69343d68d" alt="gioithieu">
        </div>
    </div>
    <div class="row bg_gioithieu text-center py-3 me-3 fs-5" style="background-image:url(https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com\/o\/Picture_SanPhamTieuDung%2FBG_gioithieu.jpg?alt=media&token=827302b3-5229-42b9-a50f-184c668cdcc6)">
        <div class="col-md">
            <p>Hotline:</p>
            <p><a class="text-decoration-none fw-bold text-black" href="tel:0349894655" >034 989 4655</a></p>
        </div>
        <div class="col-md">
            <p>Liên kết nhanh</p>
            <div class=" d-flex justify-content-center">
                <p><a href="https://www.facebook.com/cf.kiemsoatcannang"><img style="width: 2rem;" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fpngwing.com%20(3).png?alt=media&token=40d5d907-64dd-4594-939b-4528c8b54c57" alt=""></a></p>
                <p class="mx-2"><a href="#"><img style="width: 2rem;" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fpngwing.com.png?alt=media&token=0a376481-1aad-4340-b6de-c784faad9465" alt=""></a></p>
                <p><a href="https://zalo.me/0349894655"><img style="width: 2rem;" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fzalo.png?alt=media&token=4c86ae04-bb78-43a0-a36a-a16594b4f0b4" alt=""></a></p>
            </div>
        </div>
    </div>
    <!-- end giới thiệu -->
</div>