<div class="CusSayAboutMe">
    <!-- KHÁCH HÀNG NÓI GÌ VỀ CHÚNG TÔI -->
    <div class="container">
        <h3 class="text-uppercase text-center">khách hàng nói gì về chúng tôi</h3>
        <img style="margin-left: 50%;transform: translateX(-50%);width:10%" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fkhachhangnoigivechungtoi.png?alt=media&token=4ab59aa5-97c6-400d-b162-ce12eae51cee" alt="logokhachhangnoigivechungtoi">
        <!-- people -->
        <div class="row my-3">
            <div class="col-md-4 text-center">
                <img class="rounded-circle mx-auto d-block w-25" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fuser1.png?alt=media&token=7f5b0670-6dec-4c99-b7cd-9e0c351a27dc" alt="avata_user">
                <p class="my-3">Tôi thường đặt mỹ phẩm từ Natural Shop, rất hài lòng về dịch vụ chăm sóc cũng như về giá cả. Sẽ luôn ủng hộ và review tới bạn bè của tôi.</p>
                <p><b>Bạn Thanh Mai chia sẻ</b></p>
            </div>
            <div class="col-md-4 text-center">
                <img class="rounded-circle mx-auto d-block  w-25" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fuser2.png?alt=media&token=013e60a8-0b7f-4bea-b69e-6a59393a41aa" alt="avata_user">
                <p class="my-3">Tôi đặt mua tại Natural Shop nhiều lần hàng về khá nhanh, đóng gói cẩn thận, giá cả hợp lí. Chị chủ và nhân viên khá nhiệt tình và hài hước.</p>
                <p><b>Bạn Quang Huy chia sẻ</b></p>
            </div>
            <div class="col-md-4 text-center">
                <img class="rounded-circle mx-auto d-block  w-25" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2Fuser3.jpg?alt=media&token=b22087f8-3a4c-4bd7-9b7a-8c459bdf6598" alt="avata_user">
                <p class="my-3">Là người thường xuyên tìm hiểu về mỹ phẩm ,tôi được bạn bè giới thiệu qua Natural Shop vì rất uy tín và nhanh chóng. Tôi thấy rất hài lòng</p>
                <p><b>Bạn Trâm Anh chia sẻ</b></p>
            </div>
        </div>
    </div>
</div>