@{
    ViewData["Title"] = "Giới thiệu";
}
<div class="container my-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home"><i class="fa-solid fa-house me-1"></i>Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
        </ol>
    </nav>
</div>
<div class="container">
    <h2 class="text-uppercase my-3">Giới thiệu</h2>
    <hr />
    <p><b>NATURAL SHOP -</b> Tư vấn và cung cấp sản phẩm xanh 100% thiên nhiên NATURAL SHOP cung cấp các dòng : Mỹ Phẩm cao cấp, Sản Phẩm Chăm Sóc Sức Khoẻ và Sản Phẩm Gia Dụng hàng ngày nguồn gốc thiên nhiên được ứng dụng từ công nghệ Cơ Lượng Tử , mang trọn vẹn những thành phần từ thiên nhiên, không sử dụng hoá chất trong việc bảo quản đến quy trình chiết xuất, sản xuất ra sản phẩm, giúp bảo vệ và chăm sóc gia đình bạn thật an toàn và chất lượng.</p>
    <p>Tiêu Dùng Xanh – Xu Hướng Xanh là lựa chọn hàng đầu của đông đảo người tiêu dùng thông minh hiện nay , do đó NATURAL SHOP luôn chú trọng đến chất lượng sản phẩm cũng như chất lượng phục vụ giúp người tiêu dùng thật sự yên tâm khi tiêu dùng sản phẩm từ NATURAL SHOP .</p>
    <p><b>Hotline :<a class="text-decoration-none fw-bold text-black" href="tel:0349894655">034 989 4655</a></b></p>
</div>