@model NautralShop.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chỉnh sửa danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

    .container_form {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .header_EditCate p{
        color: #b66dff;
    }

    .container_bodyEdit {
       display:flex;
       justify-content:center;
       
    }
</style>
<div class="container_content">
    <div class="text-center header_EditCate"><p class="fw-bold fs-4">Sửa danh mục</p></div>
    <hr />
    <div class="container_bodyEdit">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoryId" />
                <div class="form-group">
                    <label class="control-label">Tên danh mục</label>
                    <input asp-for="CategoryName" class="form-control" required />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Lưu" class="btn btn-gradient-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="categories" asp-area="admin">Trở lại</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
