@model NautralShop.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <input asp-for="ProductId" class="form-control" />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label"></label>
                <input asp-for="ProductImage" class="form-control" />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductValuePromotion" class="control-label"></label>
                <input asp-for="ProductValuePromotion" class="form-control" />
                <span asp-validation-for="ProductValuePromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductIngredient" class="control-label"></label>
                <input asp-for="ProductIngredient" class="form-control" />
                <span asp-validation-for="ProductIngredient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUseful" class="control-label"></label>
                <input asp-for="ProductUseful" class="form-control" />
                <span asp-validation-for="ProductUseful" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductUserManual" class="control-label"></label>
                <input asp-for="ProductUserManual" class="form-control" />
                <span asp-validation-for="ProductUserManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDetailDescription" class="control-label"></label>
                <input asp-for="ProductDetailDescription" class="form-control" />
                <span asp-validation-for="ProductDetailDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

