@{
    ViewData["Title"] = "Lỗi đặt hàng";
}
<style>
    .container_success {
        width: 80%;
        margin: 20px auto 20px auto;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        ;
    }

    .header_Success {
        text-align: center;
        color: red;
        font-size: 1.5rem;
    }

    .accordion-body .nameShop {
        font-style: italic
    }

    .accordion-body {
        text-align: center;
        font-size: 1.2rem;
    }
</style>
<div class="container container_success">
    <div class="header_Success">
        <p>Lỗi đặt hàng</p>
    </div>
    <div class="accordion-body">
        <p>Đã xảy ra lỗi đặt hàng <span class="nameShop">, làm phiền bạn đặt hàng lại <a asp-action="index" asp-controller="home">tại đây</a></span></p>
    </div>
</div>
