@{
    ViewData["Title"] = "Đặt hàng thành công";
}
<style>
    .container_success{
        width:80%;
        margin:20px auto 20px auto;
        border:1px solid #ccc;
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    }

    .header_Success{
        text-align:center;
        color: #93c355;
        font-size:1.5rem;
    }

    .accordion-body .nameShop {
        color: #93c355;
        font-style:italic
    }

    .accordion-body{
        text-align:center;
        font-size:1.2rem;
    }
</style>
<div class="container container_success">
    <div class="header_Success">
        <p>Đặt hàng thành công</p>
    </div>
    <div class="accordion-body">
        <p>Cám ơn quý khách đã đặt hàng tại <span class="nameShop">Natural Shop</span></p>
    </div>
</div>
