@model NautralShop.Areas.Admin.Models.ProductsVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif
    }

    .container_content {
        background-color: #fff;
        width: 100%;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

    .container_form {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .header_EditCate p {
        color: #b66dff;
    }

    .container_bodyEdit {
        display: flex;
        justify-content: center;
    }
</style>
<div class="container_content">
    <div class="text-center header_EditCate"><p class="fw-bold fs-4">Sửa sản phẩm</p></div>
    <hr />
    <div class="container_bodyEdit">
        <div class="col-md-8">
            <form asp-action="EditProduct" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Tên sản phẩm</label>
                            <input asp-for="ProductName" class="form-control" required />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Giá sản phẩm</label>
                            <input asp-for="ProductPrice" class="form-control" required />
                            <span asp-validation-for="ProductPrice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Giá trị khuyến mãi</label>
                            <input asp-for="ProductValuePromotion" class="form-control" required />
                            <span asp-validation-for="ProductValuePromotion" class="text-danger"></span>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Hình ảnh</label>
                            <input asp-for="IFormFileImage" type="file" class="form-control" required />
                            <span asp-validation-for="IFormFileImage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Hình ảnh 2</label>
                            <input asp-for="IFormFileImage2" type="file" class="form-control" required />
                            <span asp-validation-for="IFormFileImage2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Hình ảnh 3</label>
                            <input asp-for="IFormFileImage3" type="file" class="form-control" required />
                            <span asp-validation-for="IFormFileImage3" class="text-danger"></span>
                        </div>
                    </div>
                    
               </div>
               <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Số lượng</label>
                            <input asp-for="ProductQuantity" type="number" class="form-control" required />
                            <span asp-validation-for="ProductQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="control-label">Danh mục</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                    </div>
               </div>
                <div class="form-group">
                    <label class="control-label">Thành phần</label>
                    <textarea rows="4" cols="50" asp-for="ProductIngredient" class="form-control"></textarea>
                    <span asp-validation-for="ProductIngredient" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Công dụng</label>
                    <textarea rows="4" cols="50" asp-for="ProductUseful" class="form-control"></textarea>
                    <span asp-validation-for="ProductUseful" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cách dùng</label>
                    <textarea rows="4" cols="50" asp-for="ProductUserManual" class="form-control"></textarea>
                    <span asp-validation-for="ProductUserManual" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mô tả</label>
                    <textarea rows="4" cols="50" asp-for="ProductDescription" class="form-control"></textarea>
                    <span asp-validation-for="ProductDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Mô tả chi tiết</label>
                    <textarea rows="4" cols="50" asp-for="ProductDetailDescription" class="form-control"></textarea>
                    <span asp-validation-for="ProductDetailDescription" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <input type="submit" value="Lưu" class="btn btn-gradient-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" asp-controller="products" asp-area="admin">Trở lại</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}