@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Quên mật khẩu";
	Layout = "~/views/Shared/_LayoutLogin.cshtml";
}
<div class="wrap-login100" style="background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);">
	<form asp-action="ForgotPassword" asp-controller="login" class="login100-form validate-form">
		<a asp-action="index" asp-controller="home">
			<span class="login100-form-logo">
				<img class="w-100" src="https://firebasestorage.googleapis.com/v0/b/sanphamtieudung-2bc7e.appspot.com/o/Picture_SanPhamTieuDung%2FlogoNaturalShop.png?alt=media&token=04c3a5b4-6740-4191-8408-fd6172665132" />
			</span>
		</a>

		<span class="login100-form-title p-b-34 p-t-27">
			Quên mật khẩu
		</span>

		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="wrap-input100 validate-input" data-validate="Nhập Email">
			<input class="input100" type="email" name="emailForgot" action="userNameForgot" placeholder="Email" required>
			<span class="focus-input100" data-placeholder="&#xf15a;"></span>
		</div>

		<!-- Add a custom validation message -->
		<div class="validation-message" style="color: red; display: none;">
			Vui lòng đồng ý điều khoản!
		</div>

		<!-- ... Your other form elements ... -->

		<div class="contact100-form-checkbox">
			<input class="input-checkbox100" id="ckb1" type="checkbox" required>
			<label class="label-checkbox100" for="ckb1">
				Xác nhận
			</label>
		</div>

		<div class="container-login100-form-btn">
			<button onclick="validateForm()" class="login100-form-btn" style="background: linear-gradient(to bottom, #0ba360 0%, #3cba92 100%);">
				Gửi
			</button>
		</div>

		<div class="text-center p-t-10">
			<a class="txt1" asp-action="login" asp-controller="login">
				Đăng nhập tài khoản khác?
			</a>
		</div>
	</form>
</div>

<script>
	
	function validateForm() {
		const checkBox = document.getElementById("ckb1");
		const validationMessage = document.querySelector(".validation-message");

		if (!checkBox.checked) {
			validationMessage.style.display = "block";
			return false; // Prevent form submission
		}

		validationMessage.style.display = "none";
		// Proceed with form submission
	}
</script>